*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: grey;
}
#title{
    text-align: center;
    margin-top: 15px;
    font-size: 35px;
    font-weight: 500;
    color: blanchedalmond;


}

#boxes{
    margin-left: 5vw;
    display: grid;
    grid-template-columns: repeat(3,300px) ;
    /* grid-template-columns: repeat(3,300px); */
    /* grid-template-rows: repeat(3,300px); */
    justify-content: center;
    gap: 2px;
 
}
img{
    height: 220px;
    width: 220px;
}



